* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(219, 219, 219);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 60px;
    align-items: center;
}


.box div {
    width: 600px;
    height: 600px;
}

.box {
    display: flex;
    box-shadow: 0px 0px 10px rgb(137, 137, 137);
    border-radius: 10px;
    margin-bottom: 100px;
}

.container1 {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(237, 237, 237);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.container1 form {
    text-align: center;
}

.container1 input {
    width: 400px;
    margin: 30px
}

.container2 {
    background-color: rgb(179, 179, 179);
    width: 500px;
    text-align: center;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.container2 h2 {
    position: relative;
    top: 100px;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;
}

.rodape {
    position: absolute;
    bottom: 0;
    text-align: center;
}

.rodape a {
    text-decoration: none;
    color: black;
}

.rodape svg {
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-top: 5px;
    color: rgb(0, 0, 0);
}